<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
/*common*/
.mgt20{
  margin-top: 20px;
}
.mgr10{
  margin-right: 10px;
}
.btn{
  cursor: pointer;
}
.checkbox label{
  cursor: pointer;
}
.btn-delete{
  color : red;
}
.flex{
  display: flex;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: auto;
  margin-top: 60px;
  width : 60%;
}
</style>
