<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>learn-vuejs</title>
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="<%- HOST %>/app.js"></script>
</body>

</html>
