<template>
  <div class="add-task__container">
    <h1>Create New Task</h1>

    <!--form create task-->
    <form action="#" @submit.prevent="createTask">
      <div class="form__item">
        <div class="form__label">
          Name
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Task Name"
          v-model="task_name"
        >
      </div>
      <div class="group-button">
        <button class="btn btn-primary" type="submit">
          Create
        </button>
      </div>
    </form>

    <!-- back to list task-->
    <div class="mgt20">
      <a href="/">
        Back to Home
      </a>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'
  export default {
    data () {
      return {
        task_name: null
      }
    },
    methods: {
      createTask: function (e) {
        let task = {
          name: this.task_name
        }
        this._createTask({task})
        location.href = '/'
      },
      ...mapActions({
        _createTask: 'createTask'
      })
    }
  }
</script>

<style scope>
  .form__item{
    padding: 10px 0;
  }
</style>
