<template>
  <div class="add-task__container">
    <h1>Edit Task</h1>

    <!--edit task-->
    <form action="#" @submit.prevent="updateTask">
      <div class="form__item">
        <div class="form__label">
          Name
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Task Name"
          v-model="task.name"
        >
      </div>
      <div class="form__item">
        <div class="form__label">
          Status
        </div>
        <div class="checkbox">
          <label>
            <input
              type="checkbox"
              placeholder="Task Name"
              @change="handleCheckboxChange"
              :checked="task.status === 'done'"
            >
            <span v-if="task.status === 'done'">Done</span>
            <span v-else>Not Done</span>
          </label>
        </div>
      </div>

      <div class="group-button">
        <button class="btn btn-primary" type="submit">
          Update
        </button>
      </div>
    </form>

    <!-- back to list task-->
    <div class="mgt20">
      <a href="/">
        Back to Home
      </a>
    </div>
  </div>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    data () {
      return {
        task_id: this.$route.params.id
      }
    },
    computed: {
      task: function () {
        return this.$store.state.tasks.filter(task => {
          return task._id === this.task_id
        })[0] || {}
      }
    },
    methods: {
      handleCheckboxChange: function (e) {
        let checked = e.target.checked
        this.task.status = checked ? 'done' : 'not-done'
      },
      updateTask: function (e) {
        let data = {
          name: this.task.name,
          status: this.task.status
        }
        this._updateTask({
          id: this.task['_id'],
          updateData: data
        })
        location.href = '/'
      },
      ...mapActions({
        _updateTask: 'updateTask',
        _getOneTask: 'getOneTask'
      })
    },
    created: function () {
      this._getOneTask({
        id: this.task_id
      })
    }
  }
</script>

<style scope>
  .form__item{
    padding: 10px 0;
  }
</style>
