<template>
  <div class="list-task__container">
    <h1>All Task</h1>
    <!-- task list -->
    <div class="task__list" >
      <TaskItem
        :task="task"
        :key="task._id"
        v-for="task in tasks"
      />
    </div>

    <!-- add new task -->
    <div class="mgt20 btn">
      <a href="/create">
        <button class="btn">
          + Add New Task
        </button>
      </a>
    </div>
  </div>
</template>

<script>
  import { mapActions, mapState } from 'vuex'
  import TaskItem from './TaskItem.vue'

  export default {
    name: 'ListTask',
    data () {
      return {}
    },
    components: {
      'TaskItem': TaskItem
    },
    computed: {
      ...mapState({
        tasks: state => {
          return state.tasks
        }
      })
    },
    methods: {
      ...mapActions({
        _getTask: 'getTask'
      })
    },
    created () {
      this._getTask()
    }
  }
</script>
