<template>
  <div :class="['task__item', task.status === 'done' ? 'task--done' : '']">
    <div class="task__checker checkbox">
      <label>
        <input type="checkbox" @change="updateTaskStatus" :data-id="task['_id']" :checked="task.status === 'done'">
        <div class="task__name">
          {{ task.name}}
        </div>
      </label>
    </div>

    <div class="task__actions flex">
      <div class="task__edit mgr10">
        <a :href="'/' + task['_id'] + '/edit'">
          Edit
        </a>
      </div>
      <div class="task__delete btn-delete" @click="deleteTask(task['_id'])">
        Delete
      </div>
    </div>
  </div>
</template>

<script>
  import {mapActions} from 'vuex'

  export default {
    props: {
      task: {
        type: Object,
        default: {}
      }
    },
    methods: {
      deleteTask: function (id) {
        let qu = confirm('Delete this task?')
        if (qu) {
          this._deleteTask({id})
        }
      },
      updateTaskStatus: function (e) {
        let id = e.target.getAttribute('data-id')
        let checked = e.target.checked
        let updateData = {status: (checked ? 'done' : 'not-done')}
        this._updateTask({id, updateData})
      },
      ...mapActions({
        '_deleteTask': 'deleteTask',
        '_updateTask': 'updateTask'
      })
    }
  }
</script>

<style scoped>
  .task__item{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px 0;
  }
  .task__item:hover{
    background: #eee;
  }
  .task__delete{
    cursor: pointer;
  }
  .task--done .task__name{
    text-decoration: line-through;
  }
  .task__checker{
    flex: 7
  }
  .task__checker label{
    width: 100%;
  }
  .task__name{
    display: inline-block;
  }
</style>
